<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
      <h1>Add Employee</h1>
        <br><br>
        <form action="/" method="post">
            Enter Name <input type="text" name="nm" required><br><br>
            Mobile <input type="number" name="mb" required><br><br>
            Address<textarea cols="20" rows="10" name="address"></textarea><br><br>
            <button>Add Employee</button>
        </form>
  
        <% if(locals.message)
        {%>
            <h3><%=message%></h3>
        <%}%>
    </center>

</body>
</html>