<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <%- include('common/nav') %>
      <h1 align="center">C-Panel</h1>
      <center>
          <form action="/login" method="post">
            Email-id <input type="email" name="email" required><br><br>
            Password <input type="password" name="password" required><br><br>
            <button>Login</button>
          </form>
          <br>
          <a href="/newuser">Create an Account?</a> <br><br>
          <% if(locals.message)
          {%>
               <%=message%>
          <%}%>
      </center>
</body>
</html>