<center>
    <a href="/">Home</a>
    <a href="/Delete_record">Delete Record</a>
    <a href="/Display_record">Display record</a>
    <a href="/search_record">Search record</a>
    <a href="/update_record">Update record</a>
    <a href="/login">Login</a>
    <a href="/newuser">Signup</a>
</center>